*{
    margin: 0%;
    padding: 0%;
}
.navv{
    width: 100%;
    height: 8vh;
    background-color: rgb(12, 14, 14);
}
.logoo img{
    width: 54px;
    height: 45px;
    margin-top: 6px;
    margin-left: 10px;
}
.navv ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-left: 30px; 
    margin-top: -34px;
    cursor: pointer;
    font-size: 18px;
    font-family: Montserrat;
    color: #ffffff;
    
}
.navv ul li button{
    width: 180px;
    height: 28px;
    background-color: rgba(117, 111, 111, 0.95);
    color: #aea8a8;
    border-radius: 6px;
}
.navv ul li button i{
    font-size: 15px;
    margin-left: 80px;
}
.top-img{
    background-color: #001428;
    margin-top: -24px;
}
.top-img img{
    height: 500px;
}
.text1{
    color: #ffffff;
    position: relative; 
    top: -320px;
    left: 200px;
}
.text1 p{
    margin-top: 20px;
}
.text1 button{
    margin-top: 20px;
    width: 130px;
    height: 40px;
    border-radius: 28px;
    border: none;
}
.row-list{
    margin-top: -140px;
    width: 96%;
    margin-left: 32px;
    background-color: #001428;
    color: #ffffff;
    display: flex;
    text-align: center;
    font-size: 18px;
    justify-content: space-around;
}
.c1{
    width: 280px;
    height: 50px;
    padding-top: 14px;
    border: 1px solid  #4b6e94;
}
.c2{
    width: 290px;
    height: 50px;
    padding-top: 14px;
    color: #82c1e9;
    background-color: #0b1e32;
    border: 1px solid  #4b6e94;
}
.c3{
    width: 290px;
    height: 50px;
    padding-top: 14px;
    color: #82c1e9;
    border: 1px solid  #4b6e94;
    background-color: #0b1e32;
}
.c4{
    width: 290px;
    height: 50px;
    padding-top: 14px;
    color: #82c1e9;
    border: 1px solid  #4b6e94;
    background-color: #0b1e32;
}
.c5{
    width: 280px;
    height: 50px;
    padding-top: 14px;
    color: #82c1e9;
    border: 1px solid  #4b6e94;
    background-color: #0b1e32;
}
.products{
    width: 100%;
    height: 114vh;
    display: flex;
    justify-content: space-around;
    background-color: #001428;
}
.p1{
    margin-top: 40px;
    width: 474px;
    height: 700px;
    border: 2px solid black;
    background-color: #192b3e;
}
.p2{
    margin-top: 40px;
    width: 474px;
    height: 700px;
    border: 2px solid black;
    background-color: #192b3e;
}
.p3{
    margin-top: 40px;
    width: 474px;
    height: 700px;
    border: 2px solid black;
    background-color: #192b3e;
}
.p1-text{
    color: #ffffff;
    padding: 24px;
    text-align: center;
}
.p1-text h5{
    font-size: 15px;
    margin-top: 20px;
}
.p2-text{
    color: #ffffff;
    padding: 24px;
    text-align: center;
}
.p2-text h5{
    font-size: 15px;
    margin-top: 20px;
}
.p3-text{
    color: #ffffff;
    padding: 24px;
    text-align: center;
}
.p3-text h5{
    font-size: 15px;
    margin-top: 20px;
}
.p1-text button{
    margin-top: 20px;
    width: 110px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 28px;
    border: white;
}
.p2-text button{
    margin-top: 20px;
    width: 110px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 28px;
    border: white;
}
.p3-text button{
    margin-top: 20px;
    width: 110px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 28px;
    border: white;
}
.p1 img{
    margin-top: 10px;
    width: 426px;
    height: 426px;
}
.p2 img{
    margin-top: 10px;
    width: 426px;
    height: 426px;
}
.p3 img{
    margin-top: 10px;
    width: 426px;
    height: 426px;
}
.girl img{
    width: 100%;
    height: 50%;
}
.moto{
    width: 100%;
    height: 128vh;
    display: flex;
    overflow: hidden;
    background-color: #001428;
}
.moto-blog img{
    width: 750px;
    height: 890px;
}
.trending{
    width: 100%;
    height: 56vh;
    background-color: #001428;
}
.trending h2{
    color: #ffffff;
    margin-left: 18px;
}
.trending-imgs{
    margin-top: 30px;
    width: 100%;
    height: 44vh;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}
.t1{
    width: 270px;
    background-color: #192b3e;
}
.t1 img{
    width: 201px;
    height: 201px;
    margin-top: 12px;
    margin-left: 30px;
}
.t1 img:hover{
    transform:scale(1.1);
    transition: 0.3s;
}
.t2{
    width: 270px;
    background-color: #192b3e;
}
.t2 img{
    width: 201px;
    height: 201px;
    margin-top: 12px;
    margin-left: 30px;
}
.t2 img:hover{
    transform:scale(1.1);
    transition: 0.3s;
}
.t3{
    width: 270px;
    background-color: #192b3e;
}
.t3 img{
    width: 201px;
    height: 201px;
    margin-top: 12px;
    margin-left: 30px;
}
.t3 img:hover{
    transform:scale(1.1);
    transition: 0.3s;
}
.t4{
    width: 270px;
    background-color: #192b3e;
}
.t4 img{
    width: 201px;
    height: 201px;
    margin-top: 12px;
    margin-left: 30px;
}
.t4 img:hover{
    transform:scale(1.1);
    transition: 0.3s;
}
.t5{
    width: 270px;
    background-color: #192b3e;
}
.t5 img{
    width: 201px;
    height: 201px;
    margin-top: 12px;
    margin-left: 30px;
}
.t5 img:hover{
    transform:scale(1.1);
    transition: 0.3s;
}
.t1 h5{
    margin-top: 10px;
    color: white;
    font-weight: 400;
    margin-left: 14px;
}
.t1 p{
    color: white;  
    margin-top: 14px;
    margin-left: 14px;
}
.t2 h5{
    margin-top: 10px;
    color: white;
    font-weight: 400;
    margin-left: 14px;
}
.t2 p{
    color: white;  
    margin-top: 14px;
    margin-left: 14px;
}
.t3 h5{
    margin-top: 10px;
    color: white;
    font-weight: 400;
    margin-left: 14px;
}
.t3 p{
    color: white;  
    margin-top: 14px;
    margin-left: 14px;
}
.t4 h5{
    margin-top: 10px;
    color: white;
    margin-left: 14px;
    font-weight: 400;
}
.t4 p{
    color: white;  
    margin-top: 14px;
    margin-left: 14px;
}
.t5 h5{
    margin-top: 10px;
    color: white;
    font-weight: 400;
    margin-left: 14px;
}
.t5 p{
    color: white;  
    margin-top: 14px;
    margin-left: 14px;
}
.searching{
    width: 100%;
    height: 30vh;
    text-align: center;
    background-color: #001428;   
}
.searching h2{
    padding-top: 70px;
    color: white;
}
.searching button{
    padding-right: 200px;
   margin-top: 24px;
    color: white;
    width: 380px;
    height: 40px;
    border-radius: 40px;
    background-color: #192b3e;
    border: 2px solid rgb(219, 208, 208);
}
.searching button i{
font-size: 16px;
padding-right: 30px;
color: rgb(121, 108, 108);
}
.btn-part{
   width: 100%;
   height: 20vh;
   text-align: center;
   background-color: #001428; 
}
.btn-part1 button{
    margin-top: 20px;
    width: 134px;
    height: 30px;
    font-size: 12px;
    color: white;
    border-radius: 30px;
   background-color:  #192b3e;
}
.btn-part2 button{
    margin-top: 16px;
    width: 134px;
    height: 30px;
    color: white;
    font-size: 12px;
    border-radius: 30px;
   background-color:  #192b3e;
}
.email{
    width: 100%;
    height: 90vh;
    background-color: #0c1f32;;
}
.email img{
    width: 460px;
}
.email h2{
    font-weight: 700;
    margin-top: -150px;
    text-align: center;
    color: white;
}
.last-btns{
    display: flex;
    justify-content: center;
}
.btn1 button{
    margin-top: 20px;
    width: 300px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    text-align: start;
    padding-left: 26px;
    
}
.btn2 button{
    border: none;
    margin-top: 20px;
    width: 230px;
    height: 50px;
    position: relative;
    right: 40px;
    background-color: coral;
    border-radius: 0px 30px 30px 0px;
    color: white;
}
.email p{
    margin-top: 13px;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}
.paragraph{
    width: 100%;
    color: white;
    margin-top: 50px;
    font-size: 15px;
    margin-left: 130px;
    padding: 10px;
    line-height: 2;
}
.footer{
    width: 100%;
    height: 50vh;
    display: flex;
    color: white;
    background-color: #001428;   
}
.list1{
    margin-top: 60px;
    margin-left: 130px;
}
.list1 ul li h5{
    font-size: 18px;
}
.list2{
    margin-top: 60px;
    margin-left: 20px;
}
.list2 ul li h5{
    font-size: 18px;
}
.list3{
    margin-top: 60px;
    margin-left: 20px;
}
.list3 ul li h5{
    font-size: 18px;
}
.list4{
    margin-top: 60px;
    margin-left: 20px;
}
.list4 ul li h5{
    font-size: 18px;
}
.list1 ul li{
    list-style: none;
    font-size: 14px;
    color: #d2d2d2;
    padding: 3px;
}
.list2 ul li{
    list-style: none;
    font-size: 14px;
    color: #d2d2d2;
    padding: 3px;
}
.list3 ul li{
    list-style: none;
    font-size: 14px;
    color: #d2d2d2;
    padding: 3px;
}
.list4 ul li{
    list-style: none;
    font-size: 14px;
    color: #d2d2d2;
    padding: 3px;
}
.flag{
    width: 100%;
    height: 29px;
    display: flex;
    color: white;
    background-color: #001428; 
    justify-content: center;
}
.flag img{
    width: 28px;
    height: 28px;
    margin-left: 14px;
}